!!!
/[if IEMobile 7 ] <html class="no-js iem7 standalone">
/ [if (gt IEMobile 7)|!(IEMobile)]><!
%html.no-js
  / <![endif]
  %head
    %title= title
    %link{:href => "coffee-chat.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "startup-icon.png", :rel => "apple-touch-startup-image"}/
    = stylesheet_link_tag "application", :media => "screen"
    = csrf_meta_tags
  %body
    %header
    #main
      %nav#nav
      #container
        - flash.each do |key, value|
          .flash{:class => key}
            = value
        = yield
    %footer
= javascript_include_tag "application"

    
